.Logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 30px;
    width: 150px;
    height: 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    cursor: pointer;
    p {
        width: 100%;
        font-size: 16px;
        color: #fff;
    }
}