.map{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  padding: 1rem;
}
.map-container {
  position: relative;
}
.googleMap {
  width: 322px;
  height: 500px;
}

.places-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $color-white;
  gap: 10px;
  border: 10px;

  img {
    display: none;
  }
} 

.places-button {
  width: 100%;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  background: $gradient-blue;
  cursor: pointer;
}

.inputSearch {
  width: 100%;
  height: 30px;

  &:focus {
    outline: none !important;
    border-bottom: 1px solid $color-blue;
  }
}

@include breakpoint('medium') { 
  .googleMap {
    width: 700px;
    height: 500px;
  }

  .places-container {
    width: 100%;
    align-items: center;
    flex-direction: row;
    padding: 1rem 3rem;
    gap: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: -1px 20px 10px -8px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 20px 10px -8px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 20px 10px -8px rgba(0,0,0,0.2);
    div:first-child {
      flex: 2;
    }
  } 
  .places-button {
    flex: 1;
  }
  .places-content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
    div{
      width: 100%;
    }
    img {
      display:flex;
      width: 20px;
    }
  }
}

@include breakpoint('medium-high') { 
  .googleMap {
    width: 960px;
    height: 500px;
  }
}