.packageBussines {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.packageBussines-titulo {
  color: $color-textBussines;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.packageBussines-descripcion {
  font-size: 14px;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  color: $color-text;
  @include breakpoint('medium-high') { 
    width: 930px;
  }
}

.packageBussines-botones {
  cursor: pointer;
  display: flex;
  margin-bottom: 1.5rem;
}

.packageBussines-boton {
  align-items: center;
  background-color: $color-greyDark;
  color: $color-bussineSecond;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  transition: ease-in 0.2s;
  width: 150px;

  &--active {
    background-color: $color-textBussines;
    border-bottom: solid 2px $color-bussineSecond;
    color: white;
  }
}

.packageBussines-slider {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}


.packageBussines-paquete {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  object-fit: cover;
  min-height: 500px;
  border-radius: 8px;
}

.packageBussines-paquete-body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.packageBussines-paquete-velocidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.packageBussines-paquete-velocidadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: scaleX(-1);
}

.packageBussines-paquete-circleBackground {
  fill: none;
  stroke: $color-blueCircle;
  stroke-dasharray: calc(40 * 3.142 * 1.85);
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 15;
}

.packageBussines-paquete-circleProgress {
  fill: none;
  stroke: $color-textBussines;
  stroke-dasharray: calc(40 * 3.142 * 1.85);
  stroke-linecap: round;
  stroke-width: 15;
  animation: progress 1s linear;
}

@keyframes progress {
  from {
    stroke-dashoffset: 230;
  }
}

.packageBussines-paquete-footer{
  border-top: 2px solid $color-greyDark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 1rem;
}

.packageBussines-paquete-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.packageBussines-paquete-caracteristicas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.packageBussines-paquete-title {
  text-align: center;
  font-size: 25px;
  color: $color-textBussines;
}

.packageBussines-paquete-caracteristica {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 0.5rem;

  img {
    width: 15px;
    height: 15px;
  }
}

.packageBussines-paquete-precio {
  color: $color-textBussines;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  span:first-child {
    font-size: 26px;
    font-weight: bold;

  }
}

.packageBussines-paquete-boton {
  align-items: center;
  background-color: $color-textBussines;
  border-radius: 5rem;
  color: $color-white;
  display: flex;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  width: 250px;
  cursor: pointer;
  margin-bottom:1rem;
}
.packageBussines-paquete-folio {
  font-size:14px;
  color: $color-blue;
}
.packageBussines-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.packageBussines-botonSlider {
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid $color-textBussines;
  color: $color-textBussines;
  cursor: pointer;
  height: 50px;
  width: 50px;
  transition: ease-in 0.1s;
  
  &:hover {
    color: $color-white;
    background-color: $color-textBussines;
  }
}

.packageBussines-paquete-velocidadTitle{
  align-items: center;
  color: $color-textBussines;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 3rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.packageBussines-paquete-velocidadTitle-mbps {
  font-size: 2rem;
  font-weight: bold;
}