.packageHome {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem; 
  width: 100%;
}

.packageHome-titulo {
  color: $color-blueLight;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.packageHome-descripcion {
  font-size: 14px;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  color: $color-text;
  @include breakpoint('medium-high') { 
    width: 930px;
  }
}

.packageHome-botones {
  cursor: pointer;
  display: flex;
  margin-bottom: 1.5rem;
}

.packageHome-boton {
  align-items: center;
  background-color: $color-greyDark;
  color: $color-purple;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  transition: ease-in 0.2s;
  width: 150px;

  &--active {
    background-color: $color-blueLight;
    border-bottom: solid 2px $color-purple;
    color: white;
  }
}

.packageHome-slider {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.packageHome-paquete {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  min-height: 500px;
  border-radius: 8px;
}

.packageHome-paquete-body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.packageHome-paquete-velocidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.packageHome-paquete-velocidadTitle-svg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.packageHome-paquete-velocidadContainer {
  width: 200px;
  transform: scaleX(-1);
}

.packageHome-paquete-circleBackground {
  fill: none;
  stroke: #40caf4;
  stroke-dasharray: calc(40 * 3.142 * 1.85);
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 2;
}

.packageHome-paquete-circleProgress {
  fill: none;
  stroke: $color-blueLight;
  stroke-dasharray: calc(40 * 3.142 * 1.85);
  stroke-linecap: round;
  stroke-width: 15;
  animation: progress 1s linear;
}

@keyframes progress {
  from {
    stroke-dashoffset: 230;
  }
}

.packageHome-paquete-footer{
  border-top: 2px solid $color-greyDark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 1rem;
}

.packageHome-paquete-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.packageHome-paquete-caracteristicas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.packageHome-paquete-title {
  text-align: center;
  font-size: 25px;
  color: $color-blueLight;
}

.packageHome-paquete-caracteristica {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 0.5rem;

  img {
    width: 15px;
    height: 15px;
  }
}

.packageHome-paquete-precio {
  color: $color-blueLight;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  span:first-child {
    font-size: 26px;
    font-weight: bold;

  }
}

.packageHome-paquete-folio {
  font-size:14px;
  color: $color-blueLight;
}

.packageHome-paquete-boton {
  align-items: center;
  background-color: $color-blueLight;
  border-radius: 5rem;
  color: $color-white;
  display: flex;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  width: 250px;
  cursor: pointer;
  margin-bottom:1rem;
}

.packageHome-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.packageHome-botonSlider {
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid $color-blueLight;
  color: $color-blueLight;
  cursor: pointer;
  height: 50px;
  width: 50px;
  transition: ease-in 0.1s;
  
  &:hover {
    color: $color-white;
    background-color: $color-blueLight;
  }
}

.packageHome-paquete-velocidadTitle{
  align-items: center;
  color: $color-blueLight;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 3rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.packageHome-paquete-velocidadTitle-mbps {
  font-size: 2rem;
  font-weight: bold;
}

.progressVelocity {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: rotateY(180deg);
}

.progressVelocity:before {
  content: "";
  position: absolute;
  width: 185px;
  height: 185px;
  background: #000a25;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.progressVelocity:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 100px;
  background: linear-gradient(180deg, #40caf4, #000a25);
  border-radius: 10px;
  box-shadow: 0 -19px 9px -3px #40caf4;
  top: 0;
  right: 50%;
  margin-right: -4px;
  z-index: 999;
  transform: rotate(90deg);
  transform-origin: bottom;
  animation-name: meter;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.1, 0.9, 0.81);
  animation-play-state: paused;
  animation-direction: reverse;
  animation-delay: 5s;
}

.progressVelocity .circle {
  width: 200px;
  height: 200px;
  background: white;
  background: conic-gradient(
    from 91deg,
    #40caf4 0%,
    #40caf4 20%,
    transparent 100%
  );
  -webkit-clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    100% 50%,
    50% 50%,
    100% 50%,
    100% 100%
  );
  clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    100% 50%,
    50% 50%,
    100% 50%,
    100% 100%
  );
  animation-name: loading;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.1, 0.9, 0.81);
  animation-play-state: paused;
  animation-direction: reverse;
  border-radius: 100%;
  transition: ease-in-out;
}

.progress {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: rotateY(180deg);
}

.progress:before {
  content: "";
  position: absolute;
  width: 185px;
  height: 185px;
  background: #000a25;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.progress:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 100px;
  background: linear-gradient(180deg, #40caf4, #000a25);
  border-radius: 10px;
  box-shadow: 0 -19px 9px -3px #40caf4;
  top: 0;
  right: 50%;
  margin-right: -4px;
  z-index: 999;
  transform: rotate(90deg);
  transform-origin: bottom;
  animation-name: meter;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.1, 0.9, 0.81);
  animation-play-state: paused;
  animation-direction: reverse;
  animation-delay: 5s;
}

.progress .precent {
  position: absolute;
  top: 29px;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, 0) rotateY(180deg);
  font-size: 19px;
  color: white;
  width: 47px;
  text-align: center;
  line-height: 1.5;
}
.progress .circle {
  width: 200px;
  height: 200px;
  background: white;
  background: conic-gradient(
    from 91deg,
    #40caf4 0%,
    #40caf4 20%,
    transparent 100%
  );
  -webkit-clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    100% 50%,
    50% 50%,
    100% 50%,
    100% 100%
  );
  clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    100% 50%,
    50% 50%,
    100% 50%,
    100% 100%
  );
  animation-name: loading;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0.1, 0.9, 0.81);
  animation-play-state: paused;
  animation-direction: reverse;
  animation-delay: 0;
  border-radius: 100%;
  transition: ease-in-out;
}

@keyframes loading {
  0% {
    -webkit-clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      100% 50%,
      100% 100%
    );
    clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      100% 50%,
      100% 100%
    );
  }
  12.5% {
    -webkit-clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      100% 100%,
      100% 100%
    );
    clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      100% 100%,
      100% 100%
    );
  }
  25% {
    -webkit-clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      50% 100%,
      50% 100%
    );
    clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      50% 100%,
      50% 100%
    );
  }
  37.5% {
    -webkit-clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      0% 100%,
      0% 100%
    );
    clip-path: polygon(
      0% 100%,
      0% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      0% 100%,
      0% 100%
    );
  }
  50% {
    -webkit-clip-path: polygon(
      0% 50%,
      0% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      0% 50%,
      0% 50%
    );
    clip-path: polygon(
      0% 50%,
      0% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      0% 50%,
      0% 50%
    );
  }
  62.5% {
    -webkit-clip-path: polygon(
      0% 0%,
      0% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      0% 0%,
      0% 0%
    );
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 50%, 50% 50%, 0% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(
      50% 0%,
      50% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      50% 0%,
      50% 0%
    );
    clip-path: polygon(
      50% 0%,
      50% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      50% 0%,
      50% 0%
    );
  }
  87.5% {
    -webkit-clip-path: polygon(
      100% 0%,
      100% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      100% 0%,
      100% 0%
    );
    clip-path: polygon(
      100% 0%,
      100% 0%,
      100% 0%,
      100% 50%,
      50% 50%,
      100% 0%,
      100% 0%
    );
  }
  100% {
    -webkit-clip-path: polygon(
      100% 50%,
      100% 50%,
      100% 50%,
      100% 50%,
      50% 50%,
      100% 50%,
      100% 50%
    );
    clip-path: polygon(
      100% 50%,
      100% 50%,
      100% 50%,
      100% 50%,
      50% 50%,
      100% 50%,
      100% 50%
    );
  }
}
@keyframes meter {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(179deg);
  }
  50% {
    transform: rotate(269deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
.progress .range {
  margin-top: 20px;
}
.progress input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.progress input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.progress input[type="range"]:focus {
  outline: none;
}

.progress input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: white;
  cursor: pointer;
  margin-top: -6px;
  z-index: 9;
  position: relative;
}

.progress input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: white;
  cursor: pointer;
  border: 0;
  z-index: 9;
  position: relative;
}

.progress input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: white;
  border-radius: 20px;
}

.progress input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: white;
  border-radius: 20px;
}