.soporte {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soporte-container {
    width: 100%;
    max-width: 1000px;
    background-color: $color-white;
    padding: 2rem;
}
.soporte-contacto {
    width: 100%;
    margin-bottom: 2rem;
}
.soporte-h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.soporte-containerCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.soporte-card {
    width: 180px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $color-blueLight;
    color: $color-white;
    margin:0.5rem;
}
.soporte-icon {
    margin-right: 1rem;
}
.soporte-p {}
.soporte-formulario {}
.soporte-formulario_Button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.soporte-inputs {
    width: 100%;
}
.soporte-contentInput {
    margin-bottom: 0.5rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.soporte-input {
    width: 100%;
    height: 30px;
    background-color: $color-grey;
}
label {
    width: 100%;
    text-align: left;
}
.soporte-textarea {
    background-color: $color-grey;
    width: 100%;
    margin-bottom: 1rem;
}
.soporte-btn {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$color-blue;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    color: $color-white;
}
.soporte-btn:hover {
    background-color:$color-white;
    border: 1px solid $color-blue;
    color:$color-blue;
}
@include breakpoint('medium-simple') {
    .soporte-inputs {
        display: flex;
    }
    .soporte-contentInput {
        width: 50%;
        margin-right: 0.5rem;
    }
}

.soporte-ticket {
  display: flex;
  div {
    width: calc(100%/3);
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
  }
}

.soporte-ticketTitle {
  display: flex;
  font-weight: 600;
  div {
    width: calc(100%/3);
    border-bottom: 2px solid #ccc;
    padding: 0.5rem;
  }
}