$color-white:#fff;
$color-greyBody: #FBFBFB;
$color-greyCard: #F7F8FA;
$color-black:#000;
$color-blue:rgba(40, 108, 176, 1);
$color-blueDark:rgba(10, 9, 23, 1);
$color-blueLight:#4E7EF8;
$color-blueCircle: #ECF4FF;
$color-grey:#DADADA;
$color-greyDark:#EEEEEE;
$color-blackBlue: #000000;
$color-purple:#11079E;
$color-bussineSecond: #163a5e;
$color-text:#9397a2;
$color-textBussines: #286CB0;
$color-bluePayment: #007aff;
$color-footer: #000A25;
$gradient-blue: linear-gradient(188.61deg, #5393D7 6.39%, #12589C 83.65%);
$gradient-purple: linear-gradient(54.84deg, #286CB0 -9.65%, #747DF9 102.88%);
$gradient-purpleHover: linear-gradient(1.84deg, #286CB0 -9.65%, #747DF9 102.88%);
$color-pink:#ff0059ce;
$color-yellow:#f1c420;
/* Medias Querys*/
$bp-new-small: 320px !default;
$bp-new-medium-simple: 640px !default;
$bp-new-medium: 768px !default;
$bp-new-medium-tablet: 880px !default;
$bp-new-medium-high: 1024px !default;
$bp-new-large: 1280px !default;
$bp-new-xlarge: 1440px !default;
$bp-new-homepage-max: 1500px !default;